{
    "extends": ["google", "plugin:react/recommended"],
    "plugins": ["react", "sorting"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "camelcase": ["error", {"properties": "never"}],
        "guard-for-in": "off",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "max-len": ["error", 120, {"ignoreUrls": true}],
        "no-mixed-requires": "off",
        "no-multiple-empty-lines": ["error", {"max": 1}],
        "no-implicit-coercion": "off",
        "one-var": ["error", {"var": "always", "let": "always", "const": "never"}],
        "operator-linebreak": ["error", "after", {"overrides": {"?": "before", ":": "before"}}],
        "radix": "off",
        "valid-jsdoc": "off",
        "require-jsdoc": "off",

        "arrow-body-style": ["error", "as-needed"],
        "arrow-spacing": ["error", { "before": true, "after": true }],
        "constructor-super": "error",
        "generator-star-spacing": ["error", {"before": false, "after": true}],
        "no-class-assign": "error",
        "no-confusing-arrow": "error",
        "no-const-assign": "error",
        "no-dupe-class-members": "error",
        "no-duplicate-imports": "error",
        "no-else-return": "error",
        "no-new-symbol": "error",
        "no-restricted-imports": "off",
        "no-this-before-super": "error",
        "no-unreachable": "error",
        "no-useless-computed-key": "error",
        "no-useless-constructor": "error",
        "no-useless-rename": "error",
        "no-var": "error",
        "object-shorthand": "error",
        "prefer-arrow-callback": "error",
        "prefer-const": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "quotes": ["error", "single"],
        "require-yield": "error",
        "rest-spread-spacing": "error",
        "sort-imports": "error",
        "template-curly-spacing": ["error", "never"],
        "yield-star-spacing": ["error", {"before": true, "after": false}],

        "react/jsx-no-comment-textnodes": "warn",
        "react/no-render-return-value": "warn",
        "react/no-unknown-property": "warn",
        "react/prefer-es6-class": ["warn", "always"],
        "react/prefer-stateless-function": "warn",
        "react/prop-types": ["error", {"ignore": ["children"]}],
        "react/require-render-return": "error",
        "react/sort-comp": ["error", {
            "order": [
                "static-methods",
                "lifecycle",
                "/^handle.+$/",
                "rendering",
                "everything-else"
            ],
            "groups": {
                "lifecycle": [
                    "displayName",
                    "propTypes",
                    "contextTypes",
                    "childContextTypes",
                    "mixins",
                    "statics",
                    "defaultProps",
                    "constructor",
                    "getDefaultProps",
                    "getInitialState",
                    "state",
                    "getChildContext",
                    "componentWillMount",
                    "componentDidMount",
                    "componentWillReceiveProps",
                    "shouldComponentUpdate",
                    "componentWillUpdate",
                    "componentDidUpdate",
                    "componentWillUnmount"
                ],
                "rendering": [
                    "/^render.+$/",
                    "render"
                ]
            }
        }],
        "react/sort-prop-types": "error",
        "react/jsx-wrap-multilines": "error",
        "react/jsx-closing-bracket-location": "error",
        "react/jsx-curly-spacing": ["error", "never"],
        "react/jsx-equals-spacing": ["error", "never"],
        "react/jsx-first-prop-new-line": ["error", "multiline"],
        "react/jsx-handler-names": "error",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-key": "error",
        "react/jsx-no-bind": "error",
        "react/jsx-space-before-closing": "error"
    },
    "globals" : {
        "Ext": true,
        "Form": true,
        "Helper": true,
        "Lang": true,
        "Logger": true,
        "mockXhr": true,
        "sprintf": true
    },
    "env" : {
        "browser": true,
        "es6": true,
        "jquery": true,
        "mocha": true
    }
}
